@import "tailwindcss";
@import "@nuxt/ui";

@theme static {
  --color-brand-50: #fdf5f3;
  --color-brand-100: #fbe8e4;
  --color-brand-200: #f6d5cd;
  --color-brand-300: #efb8ab;
  --color-brand-400: #e6917f;
  --color-brand-500: #a66155;
  --color-brand-600: #c4634a;
  --color-brand-700: #a65148;
  --color-brand-800: #8a4740;
  --color-brand-900: #723d39;
  --color-brand-950: #3d1e1a;

  --color-rose-50: #fef8f6;
  --color-rose-100: #fdf0eb;
  --color-rose-200: #f9e1d6;
  --color-rose-300: #f3cbb8;
  --color-rose-400: #ebac8f;
  --color-rose-500: #dfb3a4;
  --color-rose-600: #cd907a;
  --color-rose-700: #aa6f60;
  --color-rose-800: #8f5b4f;
  --color-rose-900: #764d43;
  --color-rose-950: #3d2722;
}

.debug {
  border: 1px solid red;
}

:root, [data-theme] {
  --ui-primary: var(--color-brand-500) !important;
  --ui-primary-muted: var(--color-brand-100) !important;
  --ui-secondary: var(--color-rose-500) !important;
  --ui-secondary-muted: var(--color-rose-100) !important;
  --ui-color-primary-50: var(--color-brand-50);
  --ui-color-primary-100: var(--color-brand-100);
  --ui-color-primary-200: var(--color-brand-200);
  --ui-color-primary-300: var(--color-brand-300);
  --ui-color-primary-400: var(--color-brand-400);
  --ui-color-primary-500: var(--color-brand-500);
  --ui-color-primary-600: var(--color-brand-600);
  --ui-color-primary-700: var(--color-brand-700);
  --ui-color-primary-800: var(--color-brand-800);
  --ui-color-primary-900: var(--color-brand-900);
  --ui-color-primary-950: var(--color-brand-950);
}
